/* 工信部备案信息a标签 */

a {
    &.put-on-record {
        cursor: pointer;
        text-decoration: none;
        color: #aaaaaa;
    }
}

.put-on-record:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(42, 186, 253);
}


/* 信息盒子 */

.info-box {
    margin: 3px 5px;
    color: #aaaaaa;
}