/* 工信部备案信息a标签 */
$info-text-color: #DDDDDD;
$link-hover-color: #0000e2;

a {
    &.put-on-record {
        cursor: pointer;
        text-decoration: none;
        color: $info-text-color;
    }
}

.put-on-record:hover {
    cursor: pointer;
    text-decoration: none;
    color: $link-hover-color;
}


/* 信息盒子 */

.info-box {
    margin: 3px 5px;
    color: $info-text-color;
}