@import "./modules/styles-ref/screens.scss";

.App {
    width: 100%;
    height: 100%;
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

/* 页面主题内容 */
.App-header {
    background-color: #394355;
    min-height: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;

    @media screen and (max-width: $iphone-6-7-8-screen-width) {
        width : 100%;
    }

    .header-content {
        width: 85%;
        height: 100%;

        @media screen and (max-width: $iphone-6-7-8-screen-width) {
            width: 100%;
        }
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* 首页底部悬浮条 */
.bottom-layer {
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 302;
    bottom: 0;
    font-size: 14px;
    left: 0;
    overflow: hidden;
    zoom: 1;
    margin: 5px 0;
    background-color: transparent;
    line-height: 1.5em;

    /* 适配iphone 6 7 8 以下屏幕 */
    @media screen and (max-width : $iphone-6-7-8-screen-width) {
        font-size: 12px;
    }
}