@import "./modules/styles-ref/screens.scss";
@import "./modules/styles-ref/colors.scss";

$logo-width: 150px;

.App {
    width: 100%;
    height: 100%;
    text-align: center;
}

.App-logo {
    // animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
}

/* 页面主题内容 */
.App-header {
    background-color: $main-color;
    min-height: 100vh;
    height: auto;
    display: inline-block;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;

    @media screen and (max-width: $iphone-6-7-8-screen-width) {
        width: 100%;
    }

    .header-content {
        width: 80%;
        height: 100%;

        @media screen and (max-width: $iphone-6-7-8-screen-width) {
            width: 100%;
        }
    }

    /* 主页导航外壳 */
    .nav-bar {
        display: flex;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        justify-content: space-between;

        /* logo外壳 */
        .logo-box {
            display: inline-flex;
            width: $logo-width;
            height: fit-content;
            
            >img {
                border-radius: 5px;
            }
        }

        /* 主页导航菜单外壳 */
        .item-box {
            padding-bottom: 2px;
            display: inline-flex;
            text-align: right;
        }
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 首页底部悬浮条 */
.bottom-layer {
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 302;
    bottom: 0;
    font-size: 14px;
    left: 0;
    overflow: hidden;
    zoom: 1;
    margin: 5px 0;
    background-color: transparent;
    line-height: 1.5em;

    /* 适配iphone 6 7 8 以下屏幕 */
    @media screen and (max-width: $iphone-6-7-8-screen-width) {
        font-size: 12px;
    }
}
